.primary {
  width: auto;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: #AACE9B;
  border-style: solid;
  border-color: #373867;
  opacity: 0.8;
  color: #373867;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  min-width: 80px;
}

.primary:hover {
  cursor: pointer;
  background-color: #AACE9B50;
}

.secondary {
  width: auto;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: #373867;
  border-style: solid;
  border-color: #373867;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  min-width: 80px;
}

.secondary:hover {
  cursor: pointer;
  background-color: #AACE9B;
}

.disabled {
  width: auto;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: #3738674D;
  border: none;
  opacity: 0.8;
  color: white;
  cursor: not-allowed;
  text-decoration: none;
  font-weight: bold;
  min-width: 40px;
}
