.container {
  background-color: #fff;
  text-align: inherit;
  width: 85%;
}

.rows:hover{
  background-color: #AACE9B50;
}

.cell {
  padding: 5px 10px;
  border: none;
  color: #373867;
  border-bottom: #D4D4DF 2px solid;
}

.cell > Button{
  margin: 1%;
}
