.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container form {
  width: 100%;
}

.buttonContainer {
  margin: 3%;
  width: 10%;
}
