.container {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container table{
  width: 80%;
  height: 90%;
  text-align: center;
  border-collapse: collapse;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  font-size: 16px;
  margin: 0 0 0 10%;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}
