.container {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container table{
  border: 2px solid #a40808;
  background-color: #eee7db;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.container td,
.container th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}

.container tbody td {
  font-size: 13px;
}

.container tr:nth-child(even) {
  background: #f5c8bf;
}

.container thead {
  background: #ea3354;
}

.container thead th {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #a40808;
}

.container thead th:first-child {
  border-left: none;
}

.buttonEdit {
  width: 100%;
  margin: auto;
  padding: 5px 5px;
  background-color: #EA3354;
  border: none;
  opacity: 0.8;
  color: white;
  cursor: pointer;
}

.buttonEdit:hover {
  opacity: 1;
}
.addBtn{
  align-self: flex-end;
  margin-top: 1%;
  width: 10%;
  padding: 0.5%;
  background-color: #EA3354;
  border-radius: 10px;
  border: 1px solid #000;
  color: #fff;
}

.addBtn a{
  align-items: center;
  text-decoration: none;
  color:#fff;
}