.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.label {
  justify-content: center;
  margin-top: 10%;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
