.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  font-size: 16px;
  margin: 0px 0px 5px 10%;
  cursor: pointer;
}
.smallButton {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

table.redTable {
  border: 2px solid #ea3354;
  background-color: #eee7db;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 50px;
}
table.redTable td,
table.redTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #f5c8bf;
}
table.redTable thead {
  background: #ea3354;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ea3354;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a {
  display: inline-block;
  background: #ffffff;
  color: #ea3354;
  padding: 2px 8px;
  border-radius: 5px;
}
