.container{
  margin:auto;
  background-color:#fff;
  border:#37386710 2px solid;
  border-radius: 5px;
}



.headers{
  width: 100%;
  margin: 0px;
  padding: 3px 2px;
  background-color: #37386710;
  border:#373867 1px solid;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
}

