.container {
  margin-block: 1%;
  border-radius: 5px;
  background-color: #fff;
  border: #D4D4DF 2px solid;
  border-spacing: 0;
  width: 85%;
  text-align: center;
}

.headers {
  width: 100%;
  background-color: #D4D4DF;
  border-collapse: collapse;
  font-weight: bold;
  color: #373867;
}
