
/* table {
  width: 80%;
  background-color: #EEE7DB;
  border: 2px solid #EA3354;
  border-collapse: collapse;
  text-align: center;
}
table td, table th {
  padding: 3px 2px;
  border: 1px solid #AAAAAA;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #F5C8BF;
}
table thead {
  background: #EA3354;
}
table thead th {
  border-left: 2px solid #EA3354;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
}
table thead th:first-child {
  border-left: none;
} */