.navbar {
  display: flex;
  align-items: center;
  background-color: #373867;
  flex-direction: column;
  flex: 2;
}

.appName {
  background: #232f3e;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}

.username {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: goldenrod;
}

.rutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  list-style-type: none;
}

.rutes > li > a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
.rutes > li > a::before {
  color: white;
  margin-right: 5px;
  content: '⋄';
}
.rutes > li > a:hover {
  color: rgba(255, 255, 255, 0.354);
  margin-left: 10px;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
