.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aace9b;
  padding: 5px 0px 5px 0px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 100px;
}

.license {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #aace9b;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}
