.bodyContainer {
  background-color: #fff;
  text-align: inherit;
  width: 85%;
}

.headers {
  width: 100%;
  background-color: #D4D4DF;
  border-collapse: collapse;
  font-weight: bold;
  color: #373867;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.table {
  margin-block: 1%;
  border-radius: 5px;
  background-color: #fff;
  border: #D4D4DF 2px solid;
  border-spacing: 0;
  width: 85%;
  text-align: center;
}

.headers tr th {
  padding-block: 10px;
}

.rows:hover{
  background-color: #AACE9B50;
}

.cell {
  padding: 5px 10px;
  border: none;
  color: #373867;
  border-bottom: #D4D4DF 2px solid;
}

.cell > Button{
  margin: 1%;
}
