.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1%;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 1%;
  border: 1px solid #999;
  box-shadow: 0 0 5px #999;
}
.header {
  display: block;
  width: 100%;
  padding:10px;
  background-color: #373867;
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto';
}

.fieldset {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  border: none;
}
.fieldset label {
  text-align: left !important;
}

.fieldset Button {
  margin-top: 10%;
}
